@font-face {
  font-family: "SN";
  src:url("./segoeui.ttf");
}
@font-face {
  font-family: "SB";
  src:url("./seguisb.ttf");
}
@font-face {
  font-family: "SL";
  src:url("./segoeuil.ttf");
}
@font-face {
  font-family: "Semi";
  src:url("./segoeuisl.ttf");
}
@font-face {
  font-family: "Bold";
  src:url("./segoeuib.ttf");
}
