* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  min-height: 100vh;
}
body {
  display: flex;
  background-color: #F5F5F5;
  font-family: "SL";
}
body > header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  align-items: center;
  background-color: rgba(2, 23, 37, 0.95);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19);
}
.logo {
  margin-left: 50px;
  font-size: 20px;
  font-family: "Semi";
  color: white;
}
.user-panel {
  display: flex;
  height: 100%;
  background-color: rgb(15, 47, 68);
  padding: 0 10px;
  -ms-align-items: center;
  align-items: center;
  margin-left: auto;
  color: white;
  font-family: "SL";
}
.user-panel > img {
  max-height: 44px;
  max-width: 44px;
  margin-right: 10px;
}
aside {
  width: 250px;
  background-color: #010a0f;
  margin-top: 60px;
}
aside > ul.side-menu {
  list-style-type: none;
  margin-top: 25px;
  width: 100%;
}
aside > ul > li > a {
  display: block;
  text-decoration: none;
  font-family: "SL";
  font-size: 18px;
  line-height: 40px;
  padding-left: 20px;
  color: #ababab;
  border-bottom: 1px solid #313131;
  transition: 300ms;
}
aside > ul > li > a:hover {
  color: white;
}
aside > ul > li > a.active {
  color: white;
}
section.main-area {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
section.main-area > header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #fff;
}
section.main-area > header > h2 {
  color: #000;
  font-size: 19px;
  font-family: "Semi";
}
section.main-area > div.content {
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-content: flex-start;
}
.card {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.card > header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: #fff;
  font-size: 18px;
  font-family: "Semi";
  margin-bottom: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
}
.card > .card-body {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
  padding: 0 5px;
}
.card-body > table, .content-wrapper > table {
  width: 100%;
  border-collapse: collapse;
}
.card-body > table > thead, .content-wrapper > table > thead {
  font-family: "Bold";
  font-size: 14px;
}
.card-body > table > tbody > tr,
.content-wrapper > table > tbody > tr {
  border-bottom: 1px solid #e4e4e4;
}
.card-body > table > tbody > tr:last-child,
.content-wrapper > table > tbody > tr:last-child {
  border-bottom: none;
}
.card-body > table > thead > tr > th,
.card-body > table > tbody > tr > td,
.content-wrapper > table > thead > tr > th,
.content-wrapper > table > tbody > tr > td {
  height: 40px;
  text-align: center;
}
.card-body > table > tbody > tr > td:first-child,
.content-wrapper > table > tbody > tr > td:first-child {
  text-align: initial;
  padding-left: 10px;
}

a.action-badge {
  text-decoration: none;
  color: #2AB855;
  line-height: 30px;
  font-family: "Semi";
  font-size: 16px;
  padding: 0 5px;
  background-color: #F5F5F5;
  margin-left: 10px;
}
.search-bar {
  line-height: 35px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .16);
  outline: 0;
  border: 0;
  margin: 50px 20px 0px 20px;
  padding: 0 10px;
  color: #444444;
  font-size: 14px;
}
.search-bar::-webkit-input-placeholder {
  color: #A8A8A8;
}
.search-bar::-moz-placeholder {
  color: #A8A8A8;
}
.search-bar:-ms-input-placeholder {
  color: #A8A8A8;
}
.search-bar:-moz-placeholder {
  color: #A8A8A8;
}
.content-wrapper {
  margin: 30px 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .16);
  padding: 10px;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.input-group > label {
  font-family: "Semi";
  font-size: 16px;
  margin-bottom: 5px;
  color: #191B1D;
}
.input-group > input {
  border: none;
  outline: 0;
  background-color: #F5F5F5;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  padding: 0 10px;
  font-family: "Semi";
  font-size: 14px;
}
.input-group > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: "SL";
  font-size: 14px;
}
.input-group > input::-moz-placeholder { /* Firefox 19+ */
  font-family: "SL";
  font-size: 14px;
}
.input-group > input:-ms-input-placeholder { /* IE 10+ */
  font-family: "SL";
  font-size: 14px;
}
.input-group > input:-moz-placeholder { /* Firefox 18- */
  font-family: "SL";
  font-size: 14px;
}
.input-group > input[type="submit"] {
  min-width: 200px;
  margin: auto;
  font-size: 16px;
}
.input-group > textarea {
  border: none;
  outline: 0;
  background-color: #F5F5F5;
  min-height: 150px;
  max-width: 100%;
  padding: 10px;
  font-family: "Semi";
  font-size: 14px;
}
.input-group > input[type="submit"] {
  background-color: #3EBC30;
  height: 40px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 10px;
}
ul#ajax-users-list {
    list-style-type: none;
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid #dedede;
}
ul#ajax-users-list > li {
  line-height: 30px;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
}
ul#ajax-users-list > li:last-child {
  border-bottom: none;
}
ul.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
ul.pagination > li {
  display: inline-block;
  margin: 0 5px;
}
ul.pagination > li > span, ul.pagination > li > a {
  text-decoration: none;
  border: 1px solid rgba(41, 72, 106, 0.2);
  border-radius: 3px;
  padding: 2px 5px;
  color: #191B1D;
}
.roles-array {
  display: flex;
  flex-direction: row;
}
.role-block {
  margin: 0 5px;
}
.role-details {
  width: 100%;
  display: flex;
}
.role-details > div {
  width: 50%;
  margin: 0px 10px;
}
.role-permissions > h3{
  margin-bottom: 10px;
}
.input-errors {
  padding: 10px 10px 10px 30px;
  background-color: #ff8c8c;
  color: white;
  border: 1px solid rgb(239, 34, 34);
}
